.image {
    height: 150px;
    width: auto;
    padding: 10px;
}

.button {
    max-width:400px;
    border: none;
    background-color: transparent;
    color: rgb(83, 82, 82);
    cursor: pointer;
    padding: 14px;
    font-size: 20px;
    font-family: "Maven Pro";
    font-weight: bold;
}

.button:hover {
    background-color: #b7cab1;
}

.section {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.secondrow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}