p {
    color: rgb(154, 31, 35);
}

.highlight {
    color:darkgoldenrod;
}

.menuBarLink {
    color:rgb(0, 0, 0);
}

.header {
    color: darkblue;
}

.headerBox {
    background-color: pink;
    width: auto;
    margin: 0 auto;
}